<div class="row" id="thirdSection">
        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
            <img src="assets/street.jpg" id="thirdImg">
        </div>
        <div class="column-half col-lg-6 col-sm-12 col-xs-12 col-md-6">
            <h3 class="header-title">{{section.title}}</h3>
            <h6 class="streetSubtitle"><i>{{section.description}}</i></h6>

            <h4 class="header-title streetSubtitle2">{{section1.title}}</h4>
            <p>{{section1.description}}</p>

            <h4 class="header-title streetSubtitle2">{{section2.title}}</h4>
            <p>{{section2.description}}
            </p>
        </div>
        <button class="btn btn-primary btn-sm" (click)="showForm1Data()">{{showFormText}}</button>
            <form #formulario="ngForm" [hidden]="showForm" class="formStyle card text-white bg-primary mb-3">
              <div class="form-group card-body">
                  <label for="title">Title1</label>
                  <input type="text" class="form-control" id="title" placeholder="Title" name="title"
                      [(ngModel)]="section.title">
              </div>
      
              <div class="form-group card-body">
                  <label for="description">Description1</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Description" name="description"
                      [(ngModel)]="section.description">
              </div>
            
              <button type="submit" value="submit" class="btn btn-success btn-sm" id="form-btn" (click)="submit1(formulario.value);">
              Enviar
              </button>
      
          </form>

          <button class="btn btn-primary btn-sm" (click)="showForm2Data()">{{showFormText1}}</button>
            <form #formulario="ngForm" [hidden]="showForm1" class="formStyle card text-white bg-primary mb-3">
              <div class="form-group card-body">
                  <label for="title">Title 1</label>
                  <input type="text" class="form-control" id="title" placeholder="Title" name="title"
                      [(ngModel)]="section1.title">
              </div>
      
              <div class="form-group card-body">
                  <label for="description">Description 2</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Description" name="description"
                      [(ngModel)]="section1.description">
              </div>
            
              <button type="submit" value="submit" class="btn btn-success btn-sm" id="form-btn" (click)="submit2(formulario.value);">
              Enviar
              </button>
      
          </form>

          <button class="btn btn-primary btn-sm" (click)="showForm3Data()">{{showFormText2}}</button>
            <form #formulario="ngForm" [hidden]="showForm2" class="formStyle card text-white bg-primary mb-3">
              <div class="form-group card-body">
                  <label for="title">Title 1</label>
                  <input type="text" class="form-control" id="title" placeholder="Title" name="title"
                      [(ngModel)]="section2.title">
              </div>
      
              <div class="form-group card-body">
                  <label for="description">Description 2</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Description" name="description"
                      [(ngModel)]="section2.description">
              </div>
            
              <button type="submit" value="submit" class="btn btn-success btn-sm" id="form-btn" (click)="submit3(formulario.value);">
              Enviar
              </button>
      
          </form>
    </div>