<div class="row" id="firstSection">
    <div class="col">
        <div class="firstDescription">
            <h1 class="header-title" >{{section.title}}</h1>
            <p class="first-section-desc">{{section.description}}</p>
            <button class="btn btn-primary btn-sm" (click)="showFormData()">{{showFormText}}</button>
            <form #formulario="ngForm" [hidden]="showForm" class="formStyle card text-white bg-primary mb-3">
              <div class="form-group card-body">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" placeholder="Title" name="title"
                      [(ngModel)]="section.title">
              </div>
      
              <div class="form-group card-body">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Description" name="description"
                      [(ngModel)]="section.description">
              </div>
            
              <button type="submit" value="submit" class="btn btn-success btn-sm" id="form-btn" (click)="submit(formulario.value);">
              Enviar
              </button>
      
          </form>
        </div>  
    </div>
</div>
