<div class="row" id="firstSection">
    <div class="col">
        <div class="firstDescription">
            <h1 class="white-text" >Light House Store</h1>
            <p class="first-section-desc">The store has been pleased with its customers for over 15 years with 
                low prices and a wide range of products. 
                Among hundreds of virtual online store selling fixtures, our store exists realistically.
            You can choose the necessary lamp using the convenient navigation in the catalog of 
            our online store.</p>
        </div>
            
    </div>
    
</div>
<p>[title]</p>